@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap');

* {
  font-family: 'Roboto Slab', serif;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 0 1rem;
}

.logo {
  font-weight: bold;
}

.navList {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2rem;
}

.navList a {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booksInput {
  display: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

#inputForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forminput {
  padding: 0.5rem;
}

.table {
  width: 100%;
  margin: 0;
  min-height: 32px;
  border: 2px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

.info {
  display: block;
  margin-bottom: 6px;
}

tr:nth-child(1n) {
  background-color: white;
}

tr:nth-child(2n) {
  background-color: lightgray;
}

td:nth-child(3n) {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 1rem;
}

.form-btn {
  align-self: flex-end;
}

.add-btn {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 22%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 50%;
  margin: 0.5rem;
  padding: 1rem;
}

#contactForm {
  display: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  font-size: 1.25rem;
}

#currentDate {
  align-self: flex-end;
  margin-right: 1rem;
  margin-top: 1rem;
}

.remove {
  padding: 0.5rem;
  border-radius: 0.25rem;
}